@import "tailwindcss";

@theme {
  --font-rethink: var(--font-rethink-sans), sans-serif;

  --color-card-bg: #0D082B;
  --color-card-border: #1d1938;
  --color-secondary-text2: #767676;
  --color-secondary-text: #A7ADBE;
  --color-tertiary-text: #F0F1F4;


  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;


}

@layer base {
  body {
    @apply bg-[#050024];
    font-family: var(--font-rethink);
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {

  /* Badge */
  .badge-text {
    @apply text-base font-medium leading-6 text-center;
  }

  /* Heading */
  .heading-text {
    @apply text-[40px] font-bold leading-[40px] tracking-[1%] text-center text-white;
  }

  /* Subheading */
  .subheading-text {
    @apply text-lg font-normal leading-6 tracking-normal text-center text-secondary-text;
  }

  /* Card Heading */
  .card-heading {
    @apply text-[22px] font-semibold leading-none tracking-normal text-center text-white;
  }

  /* Card Description */
  .card-desc {
    @apply text-lg font-normal leading-snug line-clamp-3 tracking-normal text-secondary-text;
  }

  /* Card UI */
  .card-ui {
    @apply rounded-3xl border border-card-border bg-card-bg p-[30px] shadow-[0px_-4px_100px_21px_#18193333_inset];
  }

  /* Card Layout */
  .card-content {
    @apply flex flex-col gap-3;
  }

  /* Common Section Spacing */
  .section-padding {
    @apply py-16 md:py-24;
  }

  .container-spacing {
    @apply px-5 md:px-10 xl:px-20;
  }
}


.section-pb {
  @apply pb-10 md:pb-20 xl:pb-22 2xl:pb-24 3xl:pb-26;
}

@layer components {
  .section-header-stack {
    @apply mx-auto pt-50 space-y-4;
  }
}

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
  }

  .animate-marquee-vertical-reverse {
    animation: marquee-vertical var(--duration) linear infinite reverse;
  }
}